<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, sapiente voluptate facere vel totam hic, ullam expedita nihil quia odio a quidem maiores laudantium beatae deserunt mollitia incidunt eaque, consectetur soluta animi minima iure officiis. Mollitia perspiciatis distinctio repellat fuga ullam nihil, quibusdam incidunt, neque fugit consectetur quos labore laborum.
    </p>
</section>